!!!
%html{'ng-app' => 'app'}
  %head
    %title Hello

    -# add a list of bower css and javascript files you wish to include in the
    -# bower_components.yml file

    %link(href='application.css', media='screen', rel='stylesheet')

  %body
    /[f lt IE 9] <a href='http://browsehappy.com/'> You are using an out of date browser; this is very dangerous. I strongly urge you to update today.</a>

    %ui-view

    %script(src='application.js')
